<main>
    <section>
        <h3 style = "margin-top: 25px;">Classes</h3>
        {% for item in classes %}
            <p style = "margin-bottom: -10px;">
                <b>{{item.name}}</b> - {{item.level}}<br>
                {% for school in item.schools %}
                    <i style="margin-left: 20px;  margin-top: 5px; display: inline-block;">- {{school.schoolName}} - {{school.period}}</i><br>
                    {% if school.notes|length %}
                        {% for note in school.notes %}
                            <i style="padding-left: 60px; display: inline-block; font-size:12pt;" >{{note.note}}</i><br>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </p>
        {% endfor %}
    </section>

</main>